<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Pylate</h1>
    <form action="/translate" method="post">
        <input type="textarea" id="txt" name="txt">
        <input type="submit" value="Translate" /><br><br>
    </form>
    <p>
        <% if (typeof result != undefined || result != "") { %>
            <a href="/" id="new">Try again...</a>
            <% for( let i = 0; i < result.length; i++ ) { %>
                <li>
                    <%= result[i].key + " --> " %>
                        <%= result[i].value %>
                </li>
                <% } %>
                    <% } %>
    </p>
</body>

</html>